<h2>Create a post!</h2>

<div>
	<form action="/songposts" method="post">
		<input type="hidden" name="songpost[song_title]" value="<%=@song.name%>">
		<input type="hidden" name="songpost[artist]" value="<%=@song.artists.first.name%>">
		<input type="hidden" name="songpost[spotify_url]" value="<%=@song.uri%>">

		<div class="row">
			<div class="small-12 large-12 columns">
				<h4><%= @song.name %> by <%= @song.artists.first.name %></h4>
			</div>
		</div>

		<div class="row">
			<div class="small-8 large-8 columns">
				<textarea class="textarea" rows="3" cols="40" type="text" name="songpost[description]" placeholder="Add a short description!"></textarea>
			</div>
			<div class="small-4 large-4 columns">
				<input type="submit" class="button" value="SUBMIT!">
			</div>
		</div>

		<div class="row">
			<div class="small-12 large-12 columns">
				<iframe src="https://embed.spotify.com/?uri=<%= @song.uri %>" width="280" height="354.667" frameborder="0" allowtransparency="true"></iframe>
			</div>
		</div>
		
		
	</form>
</div>

