<h2 class="welcome">Log in!</h2>
<div class="row" id="form">
<div class="large-6 columns">
  <div class="signup-panel">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><i class="fa fa-envelope fa-lg"></i></span>
        </div>
        <div class="small-10  columns">
          <%= f.email_field :email, :placeholder => "email", autofocus: true %>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-2 columns ">
          <span class="prefix"><i class="fa fa-lock fa-lg"></i></span>
        </div>
        <div class="small-10 columns ">
          <%= f.password_field :password, autocomplete: "off", :placeholder => "password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          Remember me
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "LOGIN", :class => "button" %>
      </div>
    <% end %>
     <p>Don't have an account? <%= link_to "Sign up here >>", new_user_registration_path, :class => 'navbar-link'  %><br><%= render "devise/shared/links" %>
      </p>
  </div>
</div>
</div>







